<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<p:dialog header="Add New Client" widgetVar="addClient">
		<h:form id="addClientForm">
			<h:panelGrid>
				<p:messages id="messages" autoUpdate="true" showDetail="true"></p:messages>
			
				<h:outputText value="Name" />
				<p:inputText id="firstname" value="#{clientController.clientModel.currentClient.name}" requiredMessage="Name is required!" required="true">
					<f:validateRegex pattern="^[a-zA-Z]+$"></f:validateRegex>
				</p:inputText>
				
				<h:outputText value="Last name"/>
				<p:inputText id="lastName" value="#{clientController.clientModel.currentClient.lastName}" requiredMessage="Last name is required!" required="true">
					<f:validateRegex pattern="^[a-zA-Z]+$"></f:validateRegex>
				</p:inputText>
				
				<h:outputText value="Phone"/>
				<p:inputText id="phone" value="#{clientController.clientModel.currentClient.phone}" required="true" requiredMessage="Phone number is required!"/>
				
				<h:outputText value="Birthday"/>
					<p:calendar id="birthday" required="true" requiredMessage="Birthday date is required!" value="#{clientController.clientModel.currentClient.birthday}" pattern="yyyy-MM-dd" mask="true" />
				
				<h:outputText value="Client type"/>		
				<p:selectOneMenu id="clientType" value="#{clientController.clientModel.currentClient.clientType}" required="true" requiredMessage="Client type is required!">
					<f:selectItem itemValue="Basic" itemLabel="Basic"></f:selectItem>
					<f:selectItem itemValue="Loyal" itemLabel="Loyal"></f:selectItem>
				</p:selectOneMenu>			
				
			</h:panelGrid>
			<br/>
			<br/>
			
			<p:commandButton value="Save" update="@form mainForm" action="#{clientController.save}" oncomplete="if (args &amp;&amp; !args.validationFailed)"></p:commandButton>
			<p:commandButton value="Cancel" action="#{clientController.cancel}" immediate="true" oncomplete="PF('addClient').hide();"></p:commandButton>
		</h:form>
	</p:dialog>
	
</ui:composition>