<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<p:dialog header="Add inventor" widgetVar="addInventor">
		<h:form id="addInventorForm">
			<h:panelGrid>
			
				<p:messages id="inventorMessages" autoUpdate="true" showDetail="False"></p:messages>
				
				<h:outputText value="Title" />
				<p:inputText id="title" value="#{inventorModel.currentInventor.title}" requiredMessage="Title is required!" required="true">
					<f:validateRegex pattern="^[a-zA-Z]+$"></f:validateRegex>
				</p:inputText>
				
				<h:outputText value="Weight" />
					<p:inputText id="weight" value="#{inventorModel.currentInventor.weight}" requiredMessage="Weight is required!" required="true">
						 <f:validateDoubleRange for="weight"></f:validateDoubleRange>
					</p:inputText>
							
				<h:outputText value="Sector" />
					<p:inputText id="sector" value="#{inventorModel.currentInventor.sector}" requiredMessage="Sector is required!" required="true">
						<f:validateDoubleRange minimum="1" maximum="40" for="sector"></f:validateDoubleRange>
				</p:inputText>
				
			</h:panelGrid>
			<p:commandButton value="Save" update="@form infoForm" action="#{inventorController.save}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addInventor').hide();"></p:commandButton>
			<p:commandButton value="Cancel" action="#{inventorController.cancel}" immediate="true" oncomplete="PF('addInventor').hide();"></p:commandButton>
		</h:form>
	</p:dialog>
	
</ui:composition>