<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:form id="infoForm">
		<h1>Client info</h1>
			<p:commandButton value="Add inventor"
				actionListener="#{inventorController.create()}" update="@form"
				oncomplete="PF('addInventor').show();"></p:commandButton>

			<p:layout>
				<p:layoutUnit position="west" resizable="true" size="300">

					<p:panelGrid>
						<h:outputLabel styleClass="font-style--bold" value="Client ID: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.id}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel styleClass="font-style--bold" value="Name: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.name}"></h:outputText>
					</p:panelGrid>
					
					<p:panelGrid>
						<h:outputLabel styleClass="font-style--bold" value="Last name: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.lastName}"></h:outputText>
					</p:panelGrid>
					
					<p:panelGrid>
						<h:outputLabel styleClass="font-style--bold" value="Birthday: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.birthday}">
							<f:convertDateTime type="date" pattern="yyyy-MM-dd"></f:convertDateTime>
						</h:outputText>
					</p:panelGrid>
					
					<p:panelGrid>
						<h:outputLabel styleClass="font-style--bold" value="Type: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.clientType}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel styleClass="font-style--bold" value="Phone: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.phone}"></h:outputText>
					</p:panelGrid>
				</p:layoutUnit>

				<p:layoutUnit position="center">

					<p:panelGrid columns="8">
						<p:dataTable var="inventor"
							value="#{inventorController.findClientInventors(clientModel.currentClient.id)}">

							<p:column headerText="ID">
								<h:outputText value="#{inventor.id}"></h:outputText>
							</p:column>

							<p:column headerText="Title">
								<h:outputText value="#{inventor.title}"></h:outputText>
							</p:column>
							
							<p:column headerText="Weight">
								<h:outputText value="#{inventor.weight}">
									<f:convertNumber minFractionDigits="2" />
								</h:outputText>
							</p:column>
							
							<p:column headerText="Sector">
								<h:outputText value="#{inventor.sector}"></h:outputText>
							</p:column>
							
							<p:column headerText="Date">
								<h:outputText value="#{inventor.updateDate}">
									<f:convertDateTime type="date" pattern="yyyy-MM-dd HH:mm:ss"></f:convertDateTime>
								</h:outputText>
							</p:column>

							<p:column headerText="Actions">
								<p:commandButton icon="ui-icon-trash"
									actionListener="#{inventorController.delete(inventor)}" update="infoForm">
									<p:confirm header="Remove inventor for selected client?"
										message="Are you sure you want to remove inventor for selected client?"></p:confirm>
								</p:commandButton>
							</p:column>

						</p:dataTable>
					</p:panelGrid>

				</p:layoutUnit>
			</p:layout>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</h:form>

		<ui:include src="addInventor.xhtml"></ui:include>

	</ui:define>
</ui:composition>