<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
	
	<h1>Report</h1>

	<h2>Clients with max inventor size</h2>
	<p:dataTable var="client" rows="5" value="#{clientController.findClientsWithMaxInventorDesc()}">
		
		<p:column headerText="Name">
			<h:outputText value="#{client.name} #{client.lastName}"></h:outputText>
		</p:column>
		
		<p:column headerText="Inventor size">
			<h:outputText value="#{client.clientInventors.size()}"></h:outputText>
		</p:column>

	</p:dataTable>
	
	<h2>Clients with max inventor weight</h2>
	<p:dataTable var="client" rows="5" value="#{clientController.findClientsWithMaxInventorWeightDesc()}">
		
		<p:column headerText="Name">
			<h:outputText value="#{client.name} #{client.lastName}"></h:outputText>
		</p:column>
		
		<p:column headerText="Inventor weight">
			<h:outputText value="#{client.calculateClientInventorsWeight()}"></h:outputText>
		</p:column>

	</p:dataTable>
	
	</ui:define>
</ui:composition>