<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
<h:head>
  <title>Client</title>
  <h:outputStylesheet library="style" name="style.css"></h:outputStylesheet>
</h:head>

<h:body>
	
	<div class="menu">
		<ui:include src="menu.xhtml"/>
	</div>
	
	<div class="context">
		<ui:insert name="content"/>
	</div>
  
</h:body>
</html>
